<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aitangba.testproject">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".login.CustomApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".horizonscroll.HorizonScrollActivity"></activity>
        <activity android:name=".verticalnestedscroll.VerticalScrollActivity"></activity>
        <activity android:name=".customswipe.CustomSwipeActivity"></activity>
        <activity android:name=".horizonscroll.HorizonScrollTestActivity"></activity>
        <activity android:name=".multiadapter.ui.MultiAdapterActivity"></activity>
        <activity android:name=".viewpager.ViewPageActivity"></activity>
        <activity android:name=".cornerrectangle.CornerRectangleActivity"></activity>
        <activity android:name=".slideback.slidingmenu.SlidingMenuActivity"
                  android:theme="@style/JK.SwipeBack.Transparent.Theme"></activity>

        <activity android:name=".slideback.slidinglayout.SlidingLayoutActivity"></activity>
        <activity android:name=".slideback.slidinglayout.SlideBackActivity"
            android:theme="@style/slideBack"></activity>

        <activity android:name=".horizonscrollview.HorizonScrollActivity"></activity>
        <activity android:name=".youtube.YoutubeActivity"></activity>
        <activity android:name=".edgeeffect.EffectActivity"></activity>
        <activity android:name=".progressbar.ProgressbarActivity"></activity>
        <activity android:name=".path.PathActivity"></activity>
        <activity android:name=".wheelview.WheelViewActivity"></activity>
        <activity android:name=".verticalnestedscroll.listview.ListViewActivity"></activity>
        <activity android:name=".verticalnestedscroll.nestedscrollview.NestedScrollActivity"></activity>
        <activity android:name=".lightadapter.ui.BaseAdapterActivity"></activity>
        <activity android:name=".lightadapter.viewmodel.LightAdapterActivity"></activity>
        <activity android:name=".numberpicker.NumberPickerActivity"></activity>
        <activity android:name=".loadingview.LoadViewActivity"></activity>
        <activity android:name=".ubb.UbbActivity"></activity>

        <!-- login test -->
        <activity android:name=".login.MainActivity"></activity>
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".login.LoginRequestActivity"></activity>

        <activity android:name=".removeitem.RemoveItemActivity"></activity>

        <activity android:name=".irregularview.IrregularViewActivity"></activity>

    </application>

</manifest>